In [16]:
import pandas as pd
import numpy as np
from pandas import Series

In [3]:
obj = pd.Series([4, 7,-5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [ ]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [ ]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
obj2 = pd.Series([-4, 7, 9, 21], index=['a', 'b', 'c', 'd'])
obj2

a    -4
b     7
c     9
d    21
dtype: int64

In [9]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
obj2['a']

-4

In [13]:
obj2[['c', 'd', 'b']]

c     9
d    21
b     7
dtype: int64

In [14]:
obj2[obj2 > 0]

b     7
c     9
d    21
dtype: int64

In [15]:
obj2 * 2

a    -8
b    14
c    18
d    42
dtype: int64

In [17]:
np.exp(obj2)

a    1.831564e-02
b    1.096633e+03
c    8.103084e+03
d    1.318816e+09
dtype: float64

In [18]:
'b' in obj2

True

In [19]:
sdata = {'Ohio': 3500, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3

Ohio       3500
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [21]:
states = ['California', 'Ohio', 'Texas', 'Oregon', 'Utah']
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio           3500.0
Texas         71000.0
Oregon        16000.0
Utah           5000.0
dtype: float64

In [22]:
pd.notnull(obj4)

California    False
Ohio           True
Texas          True
Oregon         True
Utah           True
dtype: bool

In [23]:
obj3

Ohio       3500
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [24]:
obj4

California        NaN
Ohio           3500.0
Texas         71000.0
Oregon        16000.0
Utah           5000.0
dtype: float64

In [25]:
obj3 + obj4

California         NaN
Ohio            7000.0
Oregon         32000.0
Texas         142000.0
Utah           10000.0
dtype: float64

In [26]:
obj4.name = 'population'
obj4.index.name = 'states'
obj4

states
California        NaN
Ohio           3500.0
Texas         71000.0
Oregon        16000.0
Utah           5000.0
Name: population, dtype: float64