In [114]:
import pandas as pd
import numpy as np
from pandas import DataFrame

In [115]:
frame = pd.read_csv('exemplos/ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [116]:
pd.read_pickle('exemplos/Bex1.csv')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [117]:
frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a'] 
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [118]:
store['obj1']

           a
0  -0.953305
1  -0.075865
2   0.259715
3  -1.185322
4  -0.255272
..       ...
95 -0.690801
96 -1.550879
97 -1.958057
98 -0.077511
99 -0.306300

[100 rows x 1 columns]

In [119]:
store.put('obj2', frame, format='table')
store.select('obj2', where=['index >= 10 and index <= 15'])

           a
10  0.132577
11 -0.220209
12 -0.434572
13  1.646732
14 -1.975954
15 -0.103436

In [120]:
store.close()

In [121]:
frame.to_hdf('mydata.h5', 'obj3', format='table')
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'], mode='r+')

          a
0 -0.953305
1 -0.075865
2  0.259715
3 -1.185322
4 -0.255272