In [11]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [12]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], 
               index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], 
               index=['a', 'c', 'e', 'f', 'g'])

print(s1)
print(s2)

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64
a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [13]:
s1 + s2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

In [14]:
df1 = pd.DataFrame(np.arange(9).reshape((3,3)),
                   columns=list('bcd'), 
                   index=['Ohio', 'Colorado', 'Texas'])
df2 = pd.DataFrame(np.arange(12).reshape((4,3)), 
                   columns=list('bde'),
                   index=['Ohio', 'Texas', 'Utah', 'Orengon'])

print(df1)
print(df2)

          b  c  d
Ohio      0  1  2
Colorado  3  4  5
Texas     6  7  8
         b   d   e
Ohio     0   1   2
Texas    3   4   5
Utah     6   7   8
Orengon  9  10  11

In [15]:
df1 + df2

            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      0.0 NaN   3.0 NaN
Orengon   NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN