In [47]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [48]:
obj = pd.Series(range(4), index=list('adbc'))
obj

a    0
d    1
b    2
c    3
dtype: int64

In [49]:
obj.sort_index()

a    0
b    2
c    3
d    1
dtype: int64

In [50]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                     index=['three', 'one'],
                     columns=list('dabc'))
print(frame.sort_index()) #ordenação pelo indice das linhas
print(frame.sort_index(axis=1)) #ordenação pelo indice das colunas

       d  a  b  c
one    4  5  6  7
three  0  1  2  3
       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [51]:
obj2 = pd.Series([4, 7, -3, 2])
obj2.sort_values()

2   -3
3    2
0    4
1    7
dtype: int64

In [52]:
obj3 = pd.Series([5, np.nan, 8, np.nan, -1, 2])
obj3.sort_values()

4   -1.0
5    2.0
0    5.0
2    8.0
1    NaN
3    NaN
dtype: float64

In [53]:
frame2 = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
frame2.sort_values(by=['a', 'b'])

   b  a
2 -3  0
0  4  0
3  2  1
1  7  1

In [54]:
obj3 = pd.Series([7, 4, 2, 0, 1, 10, 9, 12, 6, 5, -3, 0, -7, -11])
obj3.rank()

0     11.0
1      8.0
2      7.0
3      4.5
4      6.0
5     13.0
6     12.0
7     14.0
8     10.0
9      9.0
10     3.0
11     4.5
12     2.0
13     1.0
dtype: float64

In [55]:
obj3.rank(method='first')

0     11.0
1      8.0
2      7.0
3      4.0
4      6.0
5     13.0
6     12.0
7     14.0
8     10.0
9      9.0
10     3.0
11     5.0
12     2.0
13     1.0
dtype: float64

In [56]:
obj3.rank(ascending=False, method='max')

0      4.0
1      7.0
2      8.0
3     11.0
4      9.0
5      2.0
6      3.0
7      1.0
8      5.0
9      6.0
10    12.0
11    11.0
12    13.0
13    14.0
dtype: float64

In [57]:
frame3 = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1], 
                       'c': [-2, 5, 8, -2.5]})
frame3

   b  a    c
0  4  0 -2.0
1  7  1  5.0
2 -3  0  8.0
3  2  1 -2.5

In [58]:
frame3.rank(axis='columns')

     b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0